
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.mybox
{
    background-color: #4dace2c0;
    width: 50%;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    margin-left: 48%;
    color: white;
    text-align: right;
     word-wrap: break-word;
}

.otherbox
{
    /* background-color: #4dace2c0; */
    width: 50%;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    /* margin-left: 280px; */
    /* color: white; */
    /* text-align: right; */
     word-wrap: break-word;
     background-color: rgba(243, 240, 240, 0.712);
     margin-left: 20px;
     text-align: left;
     color: black
}

#sidebar
{
    position:fixed;
    float: left;
    color:white;
    width:25%;
    background:rebeccapurple;
    height: 800px;
    padding: 8px 16px;

}
#messagecontainer
{
    float: right;
    width:75%;
    padding:10px;


}
/* input[type="text"]
{
    width:100%;
    
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    /* background-color: #f1f1f1; */
    /* position: fixed; */
    height: auto;
     /* overflow: auto; */
} 

li a {
    display: block;
    color:white;
    margin-top:8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-decoration-color: aliceblue;

}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
body
{
    margin:0px;
}
.padding
{
    padding: 8px 16px; 
}
input[type="text"] {
    background:  10px 6px #fcfcfc;
    /* background-image: url("assets/images/magnifying-glass.png"); */
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 75%;
    padding: 6px 15px;
    /* -webkit-border-radius: 20px;
    -moz-border-radius: 20px; */
    border-radius: 20px; 
    /* text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s; */
    }

    #search{
        /* position: absolute; */
        right:10px;
        width:40%;
        float: right;
    }
    #Container
    {
      margin-top:50px;
      position: relative;
      height:500px;
      overflow:auto;
    }
    #Sresult
    {
        position: relative;
       background-color:white;
       margin-top:21px;
       width:100%;
       /* border:1px solid #ccc; */
       /* border:1px solid; */
    } 
    /* #Sresult ul
    {
       list
    } */
    #opchannel
    {
       float:left;
       font-size: 20px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #channel_heading
    {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .name_span
    {
        text-align: left;
        font-size:12px;
        font-style: italic;
    } 
    #sendmessage
    {
        width:70%;
        position: absolute;
        margin-top:10px;
        /* top:10px; */
        /* bottom:10px; */
        right:20px;
    }
    #message_body
    {
        word-wrap: break-word;
    }
    #addicon
    {
        margin-left:10px;
    }
    #username
    {
       font-size: 25px;
       font-family: Arial, Helvetica, sans-serif;
    }
    #userimage
    {
        margin-top:10px;
        margin-bottom:10px;
        margin-right:10px;
    }
    .btn btn-primary
    {
        height:28px;
    }
    .but
    {
        margin-left:5px;
    }
    .side
    {
        margin-top:5px;
    }
    #addicon
    {
        position: relative;
    }
    #logout
    {
        position: absolute;
        top:1%;
        right:1%;
    }
    .aicon
    {
        cursor:pointer;
    }

