
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

:host::ng-deep.mybox
{
    border:1px solid;
    text-align: right
}

:host::ng-deep.otherbox
{
    border:1px solid;
    text-align: left
}

#sidebar
{
    float: left;
    color:white;
    width:25%;
    background:rebeccapurple;
    height: 650px;
}
#messagecontainer
{
    float: right;
    width:70%;
}
input[type="text"]
{
    width:100%;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    /* background-color: #f1f1f1; */
    /* position: fixed; */
    height: 100%;
     /* overflow: auto; */
} 

li a {
    display: block;
    color:white;
    padding: 8px 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    text-decoration-color: aliceblue;

}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

