    
    
    <div id="chatpage">
    <div id="sidebar"> 
       
  
  <br>
  <br>
   <div class="side">
   
    <div id="username">
        {{username}}
    </div>

    <div id="userimage">
         <img src="https://lh4.googleusercontent.com/--WgmSD_-7kI/AAAAAAAAAAI/AAAAAAAAAAA/AAnnY7pzg985NM__rUDSTXvNl0fyyVCOyw/s96-c/photo.jpg">
    </div>

   </div>


  <div>
     
    <a (click)="channelcreation()">Add a channel<img id="addicon"src="assets/images/plus.png"></a>
  
    <div *ngIf="bool" class="side">

      <input type="text" [(ngModel)]="inputchannelname">
    <!-- <button  class="btn btn-primary" (click)="createChannel()"> -->
      <a class="but" id="addicon" (click)="createChannel()"><i class="fa fa-plus fa-2x"></i></a>
    
  
  </div>
</div>

  
  
  <br>
  
   <br>
   <br>
   <div>
     <div id="channel_heading">
       #Channels
     </div>
    <ul>
      
      <li *ngFor="let channel of channels" [id]=channel> 
        <a (click)="OpenChannel(channel)">#{{channel}}</a>
      </li>
    </ul>
  </div>
  </div>

  
    
    


    

    <div id="messagecontainer">
      <div>

        <div id="opchannel">
          #{{opened_channel}}
        </div>

        <div id="search">
          <div id="searchbox">
    <input type="text" [(ngModel)]="text_to_search" (keyup)="ChannelSearch()">
    <div *ngIf="searchresult" id="Sresult">
    <ul>
        <li *ngFor="let result of searchresult">
          <a (click)="JoinAChannel(result)">
            {{ result }}
          </a>
        </li>
      </ul>
      </div>
      </div>

      <div id="logout">
          <span>LogOut</span>
        <a (click)="logout()"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
      </div>
     

    </div>
          
      </div>
    <div id="Container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      
      here are we
      <ul>
      
        <li *ngFor="let Messgage of MessagesArray"> 
          
           {{Messgage}}
          
        </li>
      </ul>

    </div>
    <br>
    <div id="sendmessage">
    <input type="text" [(ngModel)]="message"> 
    <!-- <button class="btn btn-primary" (click)="sendMessage()">Send</button> -->
    <a class="but"(click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
    </div>

    </div>

    </div>
  