    
    
    <div id="chatpage">
    <div id="sidebar"> 
       
  
  <br>
  <br>
     
    <a (click)="channelcreation()">Add a channel<img id="addicon"src="assets/images/plus.png"></a>
  
    <div *ngIf="bool">

      <input type="text" [(ngModel)]="inputchannelname">
      <br>
    <button (click)="createChannel()">
      create
    </button>
  </div>

  
  
  <br>
  
   <br>
   <br>
   <div>
     <div id="channel_heading">
       #Channels
     </div>
    <ul>
      
      <li *ngFor="let channel of channels" [id]=channel> 
        <a (click)="OpenChannel(channel)">#{{channel}}</a>
      </li>
    </ul>
  </div>
  </div>

  
    
    


    

    <div id="messagecontainer">
      <div>

        <div id="opchannel">
          #{{opened_channel}}
        </div>

        <div id="search">
    <input type="text" [(ngModel)]="text_to_search" (keyup)="ChannelSearch()">
    <div *ngIf="searchresult" id="Sresult">
    <ul>
        <li *ngFor="let result of searchresult">
          <a (click)="JoinAChannel(result)">
            {{ result }}
          </a>
        </li>
      </ul>
      </div>

    </div>
          
      </div>
    <div id="Container" style="overflow: scroll; height: xyz;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      
      here are we
      <ul>
      
        <li *ngFor="let Messgage of MessagesArray"> 
          
           {{Messgage}}
          
        </li>
      </ul>

    </div>
    <br>
    <div id="sendmessage">
    <input type="text" [(ngModel)]="message"> 
    <button (click)="sendMessage()">Send</button>
    </div>

    </div>

    </div>
  