<button (click)="googlesignin()">
  signin
</button>
<button (click)="showChannel()">
Check
</button>
<button (click)="createChannel()">
createChannel
</button>
<button (click)="showChannel()">
  Show Channel
</button>
<button (click)="createUser()">
  createUser
</button>
<button (click)="JoinAChannel()">
join a channel
</button>

<input type="text" [(ngModel)]="message"> 
<button (click)="sendMessage()">Send</button>

<div>
  <p>
    <button (click)="showMessages()">Show</button>
  </p>
</div>