<button (click)="googlesignin()">
  signin
</button>
<button (click)="showChannel()">
Check
</button>
<button (click)="createChannel()">
createChannel
</button>
<button (click)="ChannelList()">
  Show Channel
</button>
<button (click)="createUser()">
  createUser
</button>
<button (click)="JoinAChannel()">
join a channel
</button>

<input type="text" [(ngModel)]="message"> 
<button (click)="sendMessage()">Send</button>

<div>
  <p>
    <button (click)="OpenChannel()">Show</button>
  </p>
</div>
<div>
  <ul>
    
    <li *ngFor="let channel of channels" [id]=channel>
      <button (click)="OpenChannel(channel)">
       {{channel}}
      </button>
    </li>
  </ul>
</div>